@(username: String, currentWish: String, pseudonym: String, participants: Seq[String], msgs: services.Messages)(implicit flash: Flash)

@views.html.base(flash.get("success").fold("")(_ => "sent")){
  @flash.get("success").map { successMsg =>
    <div id="success-msg">
      @successMsg
    </div>
  }
  <div style="margin-left: auto;font-size: 67%;">
    @msgs.hi @username,
    <a href="/logout">@msgs.logout</a>
  </div>
  <div>@msgs.dearNick</div>
  <form action="/set_wish" method="POST">
    <textarea name="wishText">@currentWish</textarea>
    <br/>
    <div id="signature">
      @msgs.signature
      <input type="text" name="pseudonym" placeholder="@msgs.pseudonym" value="@pseudonym">
      <button>@msgs.send</button>
    </div>
  </form>
  <div class="participants">
    <a href="#">@msgs.participants</a>
    <ul>
      @for(participant <- participants) {
        <li>@participant</li>
      }
    </ul>
  </div>
}
